body {
  font-family: "Nunito", sans-serif;
  color: #484d51;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.content-container{
  height: 100%;
}

.nav-container{
  width: 270px;
}

.sidenav {
  height: 100%;
  width: 270px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303750+0,1d2233+100 */
  background: #303750; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #303750 0%,
    #1d2233 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #303750 0%,
    #1d2233 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #303750 0%,
    #1d2233 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303750', endColorstr='#1d2233',GradientType=0 ); /* IE6-9 */

  padding: 20px 0 0 20px;
  text-align: center;
}

.sidenav a {
  margin: 10px 0px 45px 0;
  text-decoration: none;
  font-size: 16px;
  color: #9b9bba;
  font-weight: bold;
  display: block;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#profilePicture {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-top: 25px;
}

#profileName {
  color: white;
  font-size: 20px;
  margin-bottom: 80px;
}

.nav-wrap {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.link-wrap {
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.link-wrap i {
  margin: 7px 25px 0 8px;
}

.link-wrap:hover i {
  color: white !important;
}

.link-wrap:hover a {
  color: white !important;
}

.material-icons.violet {
  color: #9b9bba;
}

#logoff {
  margin-top: 90%;
}

#container-wrap {
  background-color: red;
  padding: 20px;
}

#welcome-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 50px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 4px 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 3px 0 0 0;
  color:#9b9bba;
}

.flex-container {
  padding: 40px;
  width: 70%;
}

.wrap-background {
  padding: 0 2% 0 7%;
  height: 100%;
}

.search-wrap{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9b9bba;
  padding-bottom: 5px;
  width: 80%;
  margin: 0 0 15px 15px;
}

.material-icons.violet.search{
  margin: 0 15px 0 0;
  padding: 0;
}

.search-bar {
  border: none;
  /*
  border-radius: 30px;
  padding: 3px 20px 3px 20px;
  margin-bottom: 20px;
  */
  background-color: transparent;
}

.search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9b9bba;
  opacity: 1; /* Firefox */
}

.search-bar:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9b9bba;
}

.search-bar::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9b9bba;
}

.col-md-5,
.col-lg-5,
.col-xl-5 {
  background-color: #f4f7fc;
}

*:focus {
  outline: none;
}

.course-card{
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 10px 0;
  padding: 12px 15px 12px 20px;
}

.course-card-selected{
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 10px 0;
  padding: 12px 15px 12px 20px;
  border-left: 6px solid #6384EC;
}

.course-list{
  overflow-y: auto;
  max-height: 100vh;
}

.course-detail-wrap{

}